@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Theme variables
*/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --background-dark: 222.2 84% 4.9%;
    --foreground-dark: 210 40% 98%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --card-dark: 222.2 84% 4.9%;
    --card-foreground-dark: 210 40% 98%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --popover-dark: 222.2 84% 4.9%;
    --popover-foreground-dark: 210 40% 98%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --primary-dark: 210 40% 98%;
    --primary-foreground-dark: 222.2 47.4% 11.2%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary-dark: 217.2 32.6% 17.5%;
    --secondary-foreground-dark: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --muted-dark: 217.2 32.6% 17.5%;
    --muted-foreground-dark: 215 20.2% 65.1%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --accent-dark: 217.2 32.6% 17.5%;
    --accent-foreground-dark: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --destructive-dark: 0 62.8% 30.6%;
    --destructive-foreground-dark: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --border-dark: 217.2 32.6% 17.5%;
    --input-dark: 217.2 32.6% 17.5%;
    --ring-dark: 212.7 26.8% 83.9%;

    --radius: 0.5rem;

    
    
    /*dark sky - #19a1e6  zippystarter: max saturation  max lightness*/
    --background-sky: 200.4 50% 10%;
    --foreground-sky: 200.4 5% 100%;
    --card-sky: 200.4 50% 10%;
    --card-foreground-sky: 200.4 5% 100%;
    --popover-sky: 200.4 50% 5%;
    --popover-foreground-sky: 200.4 5% 100%;
    --primary-sky: 200.4 98% 39.4%;
    --primary-foreground-sky: 0 0% 100%;
    --secondary-sky: 200.4 30% 20%;
    --secondary-foreground-sky: 0 0% 100%;
    --muted-sky: 162.4 30% 25%;
    --muted-foreground-sky: 200.4 5% 65%;
    --accent-sky: 162.4 30% 25%;
    --accent-foreground-sky: 200.4 5% 95%;
    --destructive-sky: 0 100% 50%;
    --destructive-foreground-sky: 200.4 5% 100%;
    --border-sky: 200.4 30% 50%;
    --input-sky: 200.4 30% 50%;
    --ring-sky: 200.4 98% 39.4%;
    

    /*dark violet*/
    --background-dkviolet: 224 71.4% 4.1%;
    --foreground-dkviolet: 210 20% 98%;
    --card-dkviolet: 224 71.4% 4.1%;
    --card-foreground-dkviolet: 210 20% 98%;
    --popover-dkviolet: 224 71.4% 4.1%;
    --popover-foreground-dkviolet: 210 20% 98%;
    --primary-dkviolet: 263.4 70% 50.4%;
    --primary-foreground-dkviolet: 210 20% 98%;
    --secondary-dkviolet: 215 27.9% 16.9%;
    --secondary-foreground-dkviolet: 210 20% 98%;
    --muted-dkviolet: 215 27.9% 16.9%;
    --muted-foreground-dkviolet: 217.9 10.6% 64.9%;
    --accent-dkviolet: 215 27.9% 16.9%;
    --accent-foreground-dkviolet: 210 20% 98%;
    --destructive-dkviolet: 0 62.8% 30.6%;
    --destructive-foreground-dkviolet: 210 20% 98%;
    --border-dkviolet: 215 27.9% 16.9%;
    --input-dkviolet: 215 27.9% 16.9%;
    --ring-dkviolet: 263.4 70% 50.4%;
  }
}

/*
  Theme switching based on this tweet from Devon Govett
  https://twitter.com/devongovett/status/1757131288144663027
*/
@layer base {
  :root {
    --theme-light: initial;
    --theme-dark: ;
    --theme-dkviolet: ;
    --theme-sky: ;
    color-scheme: light dark dkviolet sky;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --theme-light: ;
      --theme-dark: initial;
      --theme-dkviolet: ;
      --theme-sky: ;
    }
  }

  [data-theme="light"] {
    --theme-light: initial;
    --theme-dark: ;
    --theme-dkviolet: ;
    --theme-sky: ;
    color-scheme: light;
  }

  [data-theme="dark"] {
    --theme-light: ;
    --theme-dark: initial;
    --theme-dkviolet: ;
    --theme-sky: ;
    color-scheme: dark;
  }

  [data-theme="dkviolet"] {
    --theme-light: ;
    --theme-dark: ;
    --theme-dkviolet: initial;
    --theme-sky: ;
    color-scheme: dkviolet;
  }

  [data-theme="sky"] {
    --theme-light: ;
    --theme-dark: ;
    --theme-dkviolet: ;
    --theme-sky: initial;
    color-scheme: sky;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
